<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="me.css">
    <title>Document</title>
</head>
<body>
    <h1>Home</h1>
    <p>Лабороторна робота №5 з ПІС</p>
    <ul>
        <li class="item">
            <p><b>Вправа 6.1.</b> Обрати зовнішній сервіс й описати сценарій його використання. Створити в
                GitHub репозіторій з описом сценарію використання API зовнішнього застосування. </p>
            <p>Посилання на репозіторій <a href="https://github.com/ArtemLyah/cloneoverflow">GitHub</a></p>
        </li>
        <li class="item">
            <p><b>Вправа 6.2.</b> Реалізувати на будь-якій мові програмування виклик API зовнішнього
                застосування і візуалізацію відповіді. Додати в GitHub код і опис прикладу застосування
                API. </p>
            <p>Був реалізований запит до <a href="https://stackoverflow.com/">StackOverflow</a> який бере список нових питань</p>
            <p>Перейдіть до <a href="/questions">/questions</a> щоб подивитись результат запиту</p>
        </li>
        <li class="item">
            <p><b>Вправа 6.3.</b> Реалізувати на будь-якій мові програмування http-сервер, організувати
                звертання до нього і отримати відповідь у браузері. Звертання має містити Ваш логін у
                Moodle. Відповідь має містити Ваші особисті дані (прізвище, ім’я, курс, група). </p>
            <p>Перейдіть до <a href="/liakh.artemii@lll.kpi.ua">/liakh.artemii@lll.kpi.ua</a> щоб переглянути сторінку</p>
        </li>
    </ul>
</body>
</html>