<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="me.css">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <div class="about">
        <h1>About me</h1>
        <p>Name: Artemii</p>
        <p>Surname: Liakh</p>
        <p>Cource: 2</p>
        <p>Group: IS-21</p>
    </div>
</body>
</html>